*{
    margin: 0;
    padding: 0;
    font-family: "Trirong", serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: black;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    color: #ffffff;
    background-color: #191c24;
    
}

nav a{
    text-decoration: none;
}

nav h1{
    color: #fff;
    font-size: 35px;
    margin-left: 20px;
    margin-top: 8px;
    margin-bottom: 10px;
}


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    font-weight: bold;
}


nav .btn{
    display: block;
    margin-right: 40px;
    width: fit-content;
    border: none;
    padding: 8px 30px;
    border-radius: 6px;
    text-decoration: none;
    color: #ffffff;
    background-color: #00ff51;
    font-weight:bolder;
    font-size: 18px;
    transition: 0.5s;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav .btn i{
    font-size: 18px;
}

nav .btn:hover{
   background-color: #00b439;
}



/*-------------------------------------------body--------------------------------------*/

#wrapper{
    padding: 100px 0;
    height: 100%;
    background-color: #000000;
}

.body-container{
    display: flex;
}

.sidebar{
    flex:20%;
    height: 155vh;
    background-color: #191c24;
    margin-top: -22px;
    text-align: left;
}

.sidepanel{
    flex: 80%;
    height: 100%;
    background-color:#000000;
}

.profile-logo{
    display: flex;
}

.sidebar img{
    width: 25px;
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 50px;
    flex: 20%;
    border-radius: 50%;
}

.profile-user{
    flex: 80%;
    margin-top: 25px;
    margin-left: 10px;
}

.profile-logo h1{
   font-size: 20px;
   color: #fff;
}

.profile-user p{
    color: #517293;
    font-size: 12px;
    margin-right: 10px;
    margin-top: -9px;
}

.profile-user p i {
    color: #00ff51;
    font-size: 9px;
}

.sidebar h3{
    color: #517293;
    margin-left: 40px;
}


#wrapper ul li a{
    font-size: 15px;
    text-decoration: none;
    color: #ffffff;
    font-family: "Trirong", serif;
}

#wrapper ul li{
    margin-top: 20px;
    margin-left: 25px;
    text-decoration: none;
    list-style: none;
    transition: 0.5s;
    padding: 3px;
}

#wrapper ul i{
    background-color: #393939;
    border-radius: 50%;
    padding: 8px;
}

.fa-gauge{
    color: rgb(249, 146, 68);
}

.fa-newspaper{
    color: rgb(54, 246, 246);
}

.fa-list-check{
    color: rgb(255, 26, 64);
}

.fa-comment{
    color: yellowgreen;
}

.fa-user{
    color:blueviolet;
}

#wrapper ul li:hover{
    background-color: #656565;
    border-radius: 10px 0px 0px 10px;
}

.sidepanel1{
    display: none;

}

.sidepanel1.active-tab{
    display: block;
    color: #fff;
}



/*-----------------------------------------sidepanel-------------------------------------------*/

.sidepanel .dash-header{
    background-image: linear-gradient(to right, rgb(83, 3, 188), rgb(133, 2, 52));
    margin: 20px 15px 15px 15px;
    text-align: center;
    padding: 30px;
    border-radius: 5px;
    transition: 0.5s;
}

.sidepanel .dash-header h1{
    font-size: 50px;
}

.sidepanel .dash-header p{
    font-size: 20px;
    color: #ffffff;
}

.sidepanel .dash-body{
    display: flex;
}

.tag1{
    flex: 50%;
}

.tag1-wrapper1{
    padding: 20px;
    background-color: #191c24;
    margin: 10px 15px 15px 15px;
    border-radius: 5px;
    display: flex;
    transition: 0.5s;
}


#clock{
    display: flex;
}

#clock h1{
    flex: 80%;
    width: 350px;
}
 
#clock i{
    flex: 20%;
    font-size: 80px;
    margin-top: 12px;
}

.tag2{
    background-image: linear-gradient(to left,#ff4545,#c8ff00);
    padding: 30px;
    border-radius: 5px;
    margin: 10px 15px 15px 10px;
    transition: 0.5s;
}

.tag2 img{
    width: 300px;
    margin-left: 68px;
    margin-top: 30px;
}

.tag2 p{
    font-size: 23px;
    margin-left: 10px;
    margin-top:37px;
    font-weight: bold;
    text-align: center;
}

.tag1-wrapper2{
    padding: 30px;
    background-image: linear-gradient(to right,#002c48,#00bcc6);
    margin: 10px 15px 15px 15px;
    border-radius: 5px;
}

.tag1-wrapper2 img{
    margin-top: 10px;
    width: 250px;
    margin-left: 80px;
  }




/*********---------------------------------date and time ----------------------------------------------*/


.datetime{
    color: #fff;
    background: #10101E;
    font-family: "Segoe UI", sans-serif;
    width: 340px;
    padding: 15px 10px;
    border: 3px solid #2E94E3;
    border-radius: 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
    transition: 0.5s;
    transition-property: background, box-shadow;
  }
  
  .datetime:hover{
    background: #2E94E3;
    box-shadow: 0 0 30px #2E94E3;
  }
  
  .date{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
  }
  
  .time{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .time span:not(:last-child){
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
  }
  
  .time span:last-child{
    background: #2E94E3;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 3px;
  }





  /*-----------------------------------------------man panel*-----------------------------------------*/

.news-panel .news-head{
    text-align: center;
    margin: 15px 15px 15px 15px;
    background-image: linear-gradient(to right, rgb(0, 149, 255), rgb(185, 1, 130));
    padding: 10px;
    border-radius: 5px;
    transition: 0.4s;
    font-size: 40px;
}

.news-panel .news-head:hover{
    font-size: 45px;
}

.news-body1{
    display: flex;
}

.addnews{
    flex: 50%;
    background-color: #191c24;
    margin: 10px 15px 15px 15px;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
}

.editnews{
    flex: 50%;
}

.addnews h1{
    color: #517293;
}


form {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

input, textarea{
    width: 400px;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    margin: 10px 15px 10px 15px;
    background-color: #2a3038;
    color: #757575;
}

form .file{
    background-color: transparent;
    color: #ff0000;
    margin-left: 6px;
}

.news-buttons{
    display: flex;
}

.news-btn{
    width: 185px;
    padding: 10px;
    font-size: 20px;
    background-color: #16a6ff;
    border: none;
    border-radius: 10px;
    color: #000;
    font-weight: bold;
    margin: 10px 15px 10px 15px;
    transition: 0.5s;
}

.news-btn:hover{
    background-color: #00609c;
    color: #fff;
}

form p{
    background-color: transparent;
    color: #ff0000;
    margin-left: 15px;
    margin-top: -15px;
    margin-bottom: 10px;
}




.news-body2{
    background-color: #191c24;
    margin: 10px 15px 15px 15px;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
    color: #517293;
}



/**********-----------------------------------------------------table -------------------------------------------------*/


table{
    width:100%;
    table-layout: fixed;
    border: 1px solid #2a3038;
    margin-top: 25px;
  }
  .tbl-header{
    background-color: #2a3038;
   }
  .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid #2a3038;
  }
  th{
    padding: 20px 50px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    
  }
  td{
    padding: 10px 50px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #ffffff;
    border-bottom: solid 1px #2a3038;
  }
  
  
  /* demo styles */
  

  section{
    margin: 50px;
  }
  
  

  
  /* for custom scrollbar for webkit browser*/
  
  ::-webkit-scrollbar {
      width: 6px;
  } 
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px #2a3038; 
  } 
  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px #fff; 
  }

  .del{
    font-size: 20px;
    color: red;
    transition: 0.5s;
  }

  .edit{
    font-size: 20px;
    color: #00ff51;
    transition: 0.5s;
  }

  .del:hover{
    font-size: 22px;
  }

  .edit:hover{
    font-size: 22px;
  }


  /*--------------------------------------------management---------------------------------------------*/

.man-panel .man-head{
    text-align: center;
    margin: 15px 15px 15px 15px;
    background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(185, 1, 160));
    padding: 10px;
    border-radius: 5px;
    transition: 0.4s;
    font-size: 40px;
}

.man-panel .man-head:hover{
    font-size: 45px;
}

.man-body1{
    display: flex;
}

.addman{
    flex: 50%;
    background-color: #191c24;
    margin: 10px 15px 15px 15px;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
}

.editman{
    flex: 50%;
}

.addman h1{
    color: #517293;
}


form {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

input, textarea{
    width: 400px;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    margin: 10px 15px 10px 15px;
    background-color: #2a3038;
    color: #757575;
}

form .file{
    background-color: transparent;
    color: #ff0000;
    margin-left: 6px;
}

.man-buttons{
    display: flex;
}

.man-btn{
    width: 185px;
    padding: 10px;
    font-size: 20px;
    background-color: #16a6ff;
    border: none;
    border-radius: 10px;
    color: #000;
    font-weight: bold;
    margin: 10px 15px 10px 15px;
    transition: 0.5s;
}

.man-btn:hover{
    background-color: #00609c;
    color: #fff;
}

form p{
    background-color: transparent;
    color: #ff0000;
    margin-left: 15px;
    margin-top: -15px;
    margin-bottom: 10px;
}

.man-body2{
    background-color: #191c24;
    margin: 10px 15px 15px 15px;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
    color: #517293;
}




/*------------------------------------------feedbach--------------------------------------*/

.feed-panel .feed-head{
    text-align: center;
    margin: 15px 15px 15px 15px;
    background-image: linear-gradient(to right, rgb(183, 255, 0), rgb(185, 154, 1));
    padding: 10px;
    border-radius: 5px;
    transition: 0.4s;
    font-size: 40px;
}

.feed-panel .feed-head:hover{
    font-size: 45px;
}



/*----------------------------------------user----------------------------------------------------*/

.user-panel .user-head{
    text-align: center;
    margin: 15px 15px 15px 15px;
    background-image: linear-gradient(to right, rgba(255, 0, 238, 0.261), rgb(44, 1, 185));
    padding: 10px;
    border-radius: 5px;
    transition: 0.4s;
    font-size: 40px;
}

.user-panel .user-head:hover{
    font-size: 45px;
}

